@import 'variables.scss';
@import 'icons.scss';
@import '../../../node_modules/primeng/resources/primeng.min.css';
@import '../../../node_modules/primeicons/primeicons.css';
@import '../../../node_modules/primeng/resources/themes/saga-blue/theme.css';

// Themes
@import './themes/standard-theme.scss';
@import './themes/dark-theme.scss';

/*
    # General
        ## Page
        ## PageTab
        ## Containers
    # Fonts
        ## Headers
        ## labels
    # Inputs
        ## Input
        ## Buttons
        ## Search-Bar
        ## Navigation
    # Components
        ## Table
        ## Sidebar
        ## Dropdown
        ## MultiSelect
        ## Tabpanel
            ### FixedTiles
    # Specifics
        ## Dropdown-Options
        ## Class Selection
            ### Tabpanel Override
    # Logo
    # Bootstrap Override
    # PrimeNG Override
        ## Popup Overrides
*/

// # General
.app-container {
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.app-main-container {
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.app-router {
    height: 100%;
}

.scroll-container-v {
    overflow-x: hidden !important;
    overflow-y: auto !important;

    &.scroll-overlay {
        overflow-y: overlay !important;
    }
}

.scroll-container-v-visible {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

.scroll-container-h {
    overflow-x: auto !important;
    overflow-y: hidden !important;

    &.scroll-overlay {
        overflow-x: overlay !important;
    }
}

.scroll-container-both {
    overflow: auto !important;

    &.scroll-overlay {
        overflow: overlay !important;
    }
}

.scroll-container-both-visible-y {
    overflow-x: auto !important;
    overflow-y: scroll !important;
}

.no-pointer-events {
    pointer-events: none;
}

.disable-scrollbars {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}

.cursor-drag {
    cursor: move;
}

.cursor-click {
    cursor: pointer;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

.visibility-hidden {
    visibility: hidden;
}

.unselectable {
    user-select: none;
}

.no-border-bottom {
    border-bottom: none !important;
}

:focus {
    outline: none;
}

.primary-pi-group .pi {
    font-size: 1.5rem;
}

// Nav
.btn-nav-link {
    font-size: 1.2rem;
    font-weight: 700;
    height: 100%;
}

.btn-nav-bar {
    display: flex;
    justify-content: start;
    width: 100%;
    .ng-star-inserted {
        width: 100%;
    }
}

// ## Page
.page {
    height: 100vh;
    width: 100%;
}
.page-header {
    display: flex;
    align-items: center;
    overflow: hidden;

    &.short {
        height: 10vh;
    }
    &.medium {
        height: 4.5rem;
    }
    &.tall {
        height: 5.5rem;
    }

    .pi {
        font-size: 2rem;
    }
}

.page-header-container {
    width: 50rem;
    display: flex;
    align-items: baseline;
}

.page-header-main {
    display: grid;
    grid-template-rows: auto auto;
    flex-basis: auto;
    max-width: 25vw;
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    align-items: center;

    .btn {
        padding: 0;
    }
}

.page-header-title {
    flex-basis: 45rem;
    max-width: 25vw;
    margin: 0;
}

.page-sub-header {
    height: 100%;
    width: 100%;
    margin-left: 1.5rem;
    display: grid;
    grid-template-rows: auto auto;
}

.page-header-subtitle {
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    width: 22rem;
    font-weight: bold;
}

.page-header-content {
    display: flex-start;
    align-items: center;
    width: 100%;
}

.split-page {
    display: grid;
    width: 100%;
    height: 90vh;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    overflow: hidden;

    .half-page {
        padding: 1.5rem;
        min-width: 50rem;
        overflow: hidden;
    }
}

// ## PageTab

.page-tab {
    width: 100%;
    height: 100%;
}

// ## Containers 
.table-container {
    height: calc(90vh - 4rem + 6px);
}

//# Fonts

// ## Headers
h1 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.5;
}

h2 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
}

label {
    font-size: 1rem;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    text-align: left;
    vertical-align: middle;
}

// # Inputs

// # Input
input {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    text-align: left;
    vertical-align: middle;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0rem;
    font-size: 1rem;
    line-height: 1.5;
    border-width: 0.063rem !important;
    border-style: solid;
    border-radius: 3px;
}

// ## Buttons
.btn-mult {
    .btn {
        margin: 0 0.5rem;
    }
}

.btns-group {
    display: flex;

    .btn-start {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-width: 0.031rem !important;
    }

    .btn-end {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left-width: 0.047rem !important;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border-width: 0.063rem !important;
    border-style: solid;
    border-color: transparent;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3px;
    transition: color $transition-150 ease-in-out, background-color $transition-150 ease-in-out, border-color $transition-150 ease-in-out, box-shadow $transition-150 ease-in-out;

    .block-text {
        display: inline-block;
        width: 100%;
    }
}

.btn-no-bg {
    background: transparent !important;
    border-color: transparent !important;
}

// ## Navigation
.side-nav-container {
    height: 100%;
    transition: max-width $transition-250 ease-out;

    .top-section {
        .logo-container {
            left: 0;
            position: relative;
            transition: left $transition-250 ease-in-out;
        }

        .btn {
            left: 0;
            position: relative;
            transition: left $transition-250 ease-in-out;

            .svg-hideable {
                transition: opacity $transition-250 ease-in-out;
            }
            path {
                transition: transform $transition-250 ease-in-out;
            }
        }
    }

    &.collapsed {
        max-width: 3rem;

        .top-section {
            .logo-container {
                left: -$side-nav-w;
            }

            .btn {
                left: -12rem;
                width: 3rem;

                .svg-hideable {
                    opacity: 0;
                }

                path {
                    transform: translateX(-5px);
                }
            }
        }
    }
}

.side-nav {
    display: grid;
    grid-template-rows: $header-h auto 36px;
    grid-template-columns: $side-nav-w;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    .btn {
        border-radius: 0;
        font-size: 0.8125rem;
        padding-left: 0.9rem;

        &.btn-nav-link {
            font-size: 1.2rem;
            font-weight: 700;
        }
    }

    nav, nav .btn {
        width: 100%;

        div:last-child {
            width: 100%;
        }
    }

    .top-section {
        height: $header-h;
        .logo-container {
            padding-left: 1rem;
            width: calc(222px - 1.625rem);
        }
    }
}

// # Components

// ## Table

.p-datatable .p-datatable-tbody > tr {
    outline: none;
}

.p-datatable .p-datatable-thead > tr > th {
    font-size: 1.2rem;
    font-weight: 600;
}

.p-datatable .p-datatable-tbody > tr > td {
    border: transparent;
}

.p-datatable .p-datatable-thead > tr > th {
    border: transparent;
}

// ## Sidebar
.sidebar-options {
    display: grid;
    grid-template-rows: 90vh auto;
}

// ## Dropdowns
.p-dropdown {
    border-radius: 0.25rem;
    // width: calc(10em + 1rem + 2px);
}

.p-dropdown,.p-inputnumber, .p-inputtext {
    width: 100% !important;
}

.p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
}

// ## MultiSelect
.p-multiselect {
    border-width: 0.063rem
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
    box-shadow: none;
}

.p-multiselect .p-multiselect-panel {
    min-width: 15rem !important;
}

// ## Tabpanel
.p-tabview {

    // ### Header
    .p-tabview-nav {
        border: none;

        li {
            .p-tabview-nav-link {
                border-width: 0 0 2px 0;
            }

            .p-tabview-nav-link:not(.p-disabled):focus {
                box-shadow: none;
            }
        }
    }   

    // ### Panels
    .p-tabview-panels {
        height: calc(100vh - 4.5rem);
        background: transparent;
    }
}

// # Specifics

// ## Options
.dropdown-options {
    z-index: 110;
    position: fixed;
    top: 10vh;
    right: 5vw;
    animation: fadeIn 0.3s ease-in both;

    .btn {
        border-radius: 0px;
    }
}

// # Logo
.logo-sm {
    height: 2.8125rem;
}
.logo-m {
    height: 6.25rem;
}

// # Bootstrap Override
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.btn, .btn-dark, .btn-primary, .btn-secondary {
    &:focus, &.focus, &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus, .show > &.dropdown-toggle:focus {
        box-shadow: none;
    }
}

// # Overrides
.p-float-label {
    .p-dropdown {
        width: calc(10em + 1rem + 2px);
    }

    label {
        font-size: 1rem;
        font-weight: 700;
    }
}

// ## Popup Overrides
.btn-group-addEntryPopup {
    display: flex;
    justify-content: end;
}

.item-widths {
    .p-dropdown, .p-inputnumber .p-component {
        width: 18rem;
    }
}